<div class="panel my-panel mt40">
  <h1 class="title">'Make the number divisible by three!'</h1>
  <div class="row">
    <div class="col-sm-4">
      <user-panel user="$ctrl.game.user1" click="$ctrl.update(data)" current-number="$ctrl.game.currentChange"></user-panel>
    </div>
    <div class="col-sm-5">
      <game-main-view game="$ctrl.game"></game-main-view>
    </div>
    <div class="col-sm-3">
      <div class="glass"></div>
      <user-panel user="$ctrl.game.user2" click="$ctrl.update(data)" current-number="$ctrl.game.currentChange"></user-panel>
    </div>
  </div>
  <div class="winning-screen" ng-if="$ctrl.game.won">
    <span>game over</span>
    <div>
      <button class="btn my-btn" ng-click="$ctrl.init()">Play again</button>
    </div>
  </div>
</div>


